[Unit]
Description=Wait for Tailscale to be online
After=tailscaled.service
Requires=tailscaled.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/tailscale wait
RemainAfterExit=yes

[Install]
WantedBy=tailscale-online.target
